---
lead: "ScotLUG meets every last Thursday of the month at the [Electron Club](http://www.electronclub.org/doku.php).  Meetings are open to anyone and free to attend: there is no need to register, just turn up!"
title: Meetings
---

<p>People gather and meet in the Electron Club (<abbr title="Centre for Contemporary Arts">CCA</abbr>, <a href="https://www.openstreetmap.org/way/60085920">350 Sauchiehall Street, Glasgow, G2 3JD<sup class="octicon octicon-location"></sup></a>) at around 19:00, and talks start at 19:30.  The Electron Club is on the first floor of the CCA, across from the Saramago Terrace Bar, where we generally migrate to after the meeting.</p>

{% include map.html %}

{% for meeting in site.categories.meetings %}
<article>
  <h2 class="page-header"><a href="{{ meeting.url }}">{{ meeting.title }}</a> <small><time datetime="{{ meeting.date | date_to_xmlschema }}">{{ meeting.date | date_to_long_string }}</time></small></h2>
  {{ meeting.excerpt }}
</article>
{% endfor %}

<article>
  <h2 class="page-header"><a href="http://www.scotlug.org.uk/wiki/Meetings">Previous Years</a></h2>
  <ul class="list-inline">
    <li><a href="http://www.scotlug.org.uk/wiki/2013_Meetings">2013</a></li>
    <li><a href="http://www.scotlug.org.uk/wiki/2012_Meetings">2012</a></li>
    <li><a href="http://www.scotlug.org.uk/wiki/2011_Meetings">2011</a></li>
    <li><a href="http://www.scotlug.org.uk/wiki/2010_Meetings">2010</a></li>
    <li><a href="http://www.scotlug.org.uk/wiki/2009_Meetings">2009</a></li>
    <li><a href="http://www.scotlug.org.uk/wiki/2008_Meetings">2008</a></li>
    <li><a href="http://www.scotlug.org.uk/wiki/2007_Meetings">2007</a></li>
    <li><a href="http://www.scotlug.org.uk/wiki/2006_Meetings">2006</a></li>
    <li><a href="http://www.scotlug.org.uk/wiki/Pre_2006_Meetings">older</a></li>
  </ul>
</article>
