<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{ site.title }}</a>
      <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% assign site_pages = site.pages | sort: 'title', 'last' %}
        {% for site_page in site_pages reversed %}{% if site_page.title %}
        <li{% if page.dir == site_page.dir %} class="active"{% endif %}>
          <a href="{{ site_page.url | remove: 'index.html' }}">{{ site_page.title }}</a>
        </li>
        {% endif %}{% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right" data-no-turbolink>
        <li>
          <a href="http://www.scotlug.org.uk/wiki/Welcome">Wiki</a>
        </li>
        <li>
          <a href="https://web.libera.chat/?channels=#scotlug">IRC</a> / 
          <a href="https://www.matrix.to/#/#scotlug:matrix.org">Matrix</a>
        </li>
        <li>
          <a href="https://github.com/ScotLUG">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</div>
