<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/assets/favicon-152.png" />
    <link rel="stylesheet" media="all" href="/assets/application.css" data-turbolinks-track="true" />
    <script src="/assets/application.js" data-turbolinks-track="true"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include nav.html %}
    {% if page.hero %}
    <div class="jumbotron">
      <div class="container">
        {{ page.hero | markdownify }}
      </div>
    </div>
    {% endif %}
    <div class="container">
      {% if page.title %}
      <h1 class="page-header">{{ page.title }}</h1>
      {% endif %}
      {% if site.notice %}
      <div class="alert alert-info">
        {{ site.notice | markdownify }}
      </div>
      {% endif %}
      {{ content }}
    </div>
    <hr>
    <footer class="container text-muted">
      <ol class="breadcrumb">
        <li><a href="https://pages.github.com/">GitHub</a></li>
        <li><a href="https://github.com/{{ site.repo }}">{{ site.repo }}</a></li>
        <li><a href="https://github.com/{{ site.repo }}/blob/master/{{ page.path }}">{{ page.path }}</a></li>
      </ol>
    </footer>
  </body>
</html>
