<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/assets/favicon-152.png">
    <link rel="stylesheet" media="all" href="/assets/application.css" data-turbolinks-track="true">
    <link rel="stylesheet" media="all" href="/vendor/octicons/octicons.css" data-turbolinks-track="true">
    <script src="/assets/application.js" data-turbolinks-track="true"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include nav.html %}
    {% if page.lead %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{ page.title }}</h1>
        {{ page.lead | markdownify }}
      </div>
    </div>
    {% endif %}
    <div class="container">
      {% if page.previous or page.next %}
      {% include pager.html %}
      {% endif %}
      {% unless page.lead %}
      <h1 class="page-header">{{ page.title }}{% if page.date %} <small><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time></small>{% endif %}</h1>
      {% endunless %}
      {% if site.notice %}
      <div class="alert alert-info">
        {{ site.notice | markdownify }}
      </div>
      {% endif %}
      {{ content }}
    </div>
    <hr>
    <footer class="container text-muted">
      <ol class="breadcrumb">
        <li><a href="https://github.com/{{ site.repo }}" title="{{ site.repo }} on GitHub"><span class="octicon octicon-mark-github"></span></a></li>
        <li><a href="https://github.com/{{ site.repo }}/blob/master/{{ page.path }}" title="{{ page.path }} on GitHub">{{ page.path }}</a></li>
        <li><a href="https://github.com/{{ site.repo }}/edit/master/{{ page.path }}" title="Edit {{ page.path }} on GitHub"><span class="octicon octicon-pencil"></span></a></li>
        <li><a href="https://html5.validator.nu/?doc={{ site.url }}{{ page.url }}"><strong>Validate</strong></a></li>
      </ol>
    </footer>
  </body>
</html>
